// Class para navbar
.navbar, .navbar-expand-lg{
    background: rgb(14, 1, 31);
    opacity: 0.6;
}

// Navbar Links
a.nav-link{
    color: #ff1dff;
}


// Navbar Links-active
a.nav-link.active{
    color:white;
}

// El ID para el Hero Section (primer div)
#heroSection{
    //background-color: #2c0659;
    background: rgb(44,6,89);
    background: radial-gradient(circle, rgba(44,6,89,1) 0%, rgba(5,6,6,1) 100%);
    height: 100vh;
}

// el primer H1
#heroH1{
    margin-top: 20vh;
}

// imagen in landing

.heroImg{
    height:450px;
    margin-top: 5vh;
}

.button{
    border: 2px solid #ff1dff;
    border-radius: 25px;
    background-color: transparent ;
    color: white;
    padding: 10px 20px;
    margin-left: 30px ;
}

.MarginDashTrans{
    margin-top: 15vh; 
}

// .margin es para la vista vendedor con mapa.

.margin{
    margin-top: 15vh;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: rgb(241, 216, 216);
    height: 100%;
}

